/* resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* reset default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd,
picture {
  margin: 0;
}

/* resetting body */

body {
    line-height: 1.5;
    min-height: 100vh;
}

img,
picture {
    max-width: 100%;
    display: block;
}

/* Utility classes */

.grid {
    display: grid;
}

.flex {
    display: flex;
}

/* classes */

.main_container {
    background: url(./images/pattern-background-desktop.svg) no-repeat top center;
    background-size: contain;
    background-color: hsl(223, 71%, 93%);
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-wrapper {
    flex-direction: column;
    width: 24rem;
    height: 40rem;
    background-color: whitesmoke;
    border-radius: 1.5rem;
}

.hero_illustration_svg {
    height: 15rem;
    background: url(./images/illustration-hero.svg) no-repeat center;
    background-size: cover;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.txt_nd_btn_wrapper {
    height: 25rem;
}

.txt_box {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20rem;
    text-align: center;
    margin-inline: auto;
    padding-inline: .5rem;
}

.txt_box p {
    font-size: 16px;
    color: hsl(224, 23%, 55%);
}

.txt_box h1 {
    color: hsl(223, 47%, 23%);
    font-family: 'Red Hat Display' sans-serif;
}

.summary_box {
    width: 18rem;
    margin-inline: auto;
    padding-inline: 1rem;
    column-gap: 1rem;
    background-color: hsl(223, 71%, 93%);
    border-radius: .85rem;
}

.sub_plan_text {
    column-gap: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
}

.sub_plan_text span {
    color:hsl(224, 23%, 55%);
}

.subscription_icon {
    border-radius: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.sub_change {
    margin-inline-start: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.sub_change a {
    color: hsl(245, 75%, 52%);
}

.sub_change a:active {
    color: hsl(224, 23%, 55%);
    text-decoration: none;
}

.sub_change a:hover{
    color: hsl(224, 23%, 55%);
    text-decoration: none;
}

.proceed_payment {
    width: 22rem;
    margin-inline: auto;
    padding-inline: 2rem;
}

.proceed_payment button {
    width: 100%;
    height: 60%;
    font-family:'Red Hat Display' sans-serif;
    margin-top: 2rem;
    border: none;
    border-radius: 1rem;
    box-shadow: -0.5rem 0.5rem 1rem hsl(225deg 64% 69%);
    color: white;
    font-weight: bolder;
    background-color: hsl(245, 75%, 52%);
}

.proceed_payment button:active {
    background-color: blue;
}

.proceed_payment button:hover{
    background-color: hsl(228, 45%, 44%);
}


.cancel_order {
    color:hsl(224, 23%, 55%);
    font-weight: bold;
    margin: auto;
}

.cancel_order a {
    text-decoration: none;
}

.text_box p{
    font-size: 16px;
}

.cancel_order a:active{
    color: hsl(228, 45%, 44%);
}

.cancel_order a:hover{
    color: hsl(228, 45%, 44%);
}

body {
    font-family: 'Red Hat Display', sans-serif;
    flex-direction: column;
    row-gap: 2rem;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%);
}